.jokes-container {
    max-width: 1000px;
    width: 100%;
    background-color: #393c44;
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;

}